alembic
APScheduler
autopep8
Flask
Flask-Migrate
Flask-SQLAlchemy
gevent
greenlet
gunicorn
matplotlib
numpy
psycopg2-binary
python-dotenv
pytz
scikit-learn
SQLAlchemy
sqlitedict
tweet-preprocessor
tzlocal
urllib3
us
wordcloud
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en_core_web_sm
