alembic
APScheduler
autopep8
Flask
Flask-Migrate
Flask-SQLAlchemy
gevent
greenlet
gunicorn
matplotlib
numpy
psycopg2-binary
python-dotenv
pytz
redis
scikit-learn
SQLAlchemy
sqlitedict
tweet-preprocessor
TwitterAPI
tzlocal
urllib3
us
wordcloud
spacy>=2.0.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
