<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../static/favicon.ico">
  <title>Andrew Yang Trend</title>
  <!-- Bootstrap CSS, JS, and jQuery -->
  <!-- Latest compiled and minified CSS -->
  <!-- Bootstrap CSS, JS, and jQuery -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Need to hard refresh to reflect changes in the linked css -->
  <link rel="stylesheet" href="../static/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script sync src="https://platform.twitter.com/widgets.js"></script>
  <!-- Main JavaScript code -->
  <script src="../static/js/main.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- TYPICALLY WE HAVE A BRAND LINK -->
    <a class="navbar-brand" href="">ANDREW YANG TREND</a>

    <!-- THIS SETS UP THE COLLAPSABLE BUTTON ELEMENT (HAMBURGER) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- THEN WE PUT AN UNORDERED LIST INSIDE OF A COLLAPSE DIV -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <br />
  <br />

  <div class="container">
    <!-- Live tweet and stats main panel -->
    <div class="d-flex flex-column justify-content-center" style="height: 450px;">
      <div class="row align-items-center">
        <div class="col-7 justify-content-center text-center bg-light">
          <div class="tweet-stream">
            <blockquote class="twitter-tweet" id="tweet-1">
              <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </blockquote>
            <br />
            <blockquote class="twitter-tweet" id="tweet-2">
              <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </blockquote>
            <br />
            <blockquote class="twitter-tweet" id="tweet-3">
              <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </blockquote>
            <br />
            <blockquote class="twitter-tweet" id="tweet-4">
              <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </blockquote>
            <br />
            <blockquote class="twitter-tweet" id="tweet-5">
              <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </blockquote>
          </div>
        </div>

        <div class="col justify-content-center text-center">
          <div class="row">
            <div class="col justify-content-center text-center">
              <h6>Yang related tweets today <small>(US Eastern Time)</small></h6>
              <div class="yang-count" style="text-align: center; font-size: 40px;">
                <div class="spinner-grow text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <a class="btn btn-primary btn-lg"
           href="https://secure.actblue.com/donate/ay-web-homepage-20190819?utm_source=website&utm_medium=organic&utm_term=all&refcode=ay-web-denomination-general-all&_ga=2.56444395.1348673093.1566405944-1461993714.1564633325"
           role="button">Donate to Yang 2020
          </a>
          <br />
          <br />
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <!-- Charts and content main panel -->
    <div class="container">

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-top-retweets-tab" data-toggle="pill" href="#pills-top-retweets" role="tab"
            aria-controls="pills-top-retweets" aria-selected="true">Top Tweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-yang-tab" data-toggle="pill" href="#pills-yang" role="tab"
            aria-controls="pills-yang" aria-selected="true">Basic Metrics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-sentiment-tab" data-toggle="pill" href="#pills-sentiment" role="tab"
            aria-controls="pills-sentiment" aria-selected="false">Sentiment Analysis (coming soon)</a>
        </li>
      </ul>

      <br />
      <br />

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-top-retweets" role="tabpanel" aria-labelledby="pills-top-retweets-tab">
          <p style="text-align: center;">
            Top 20 retweeted Yang-related tweets <i>based on activities in the last 6 hours</i>
          </p>

          <div class="spinner-grow text-primary" id="top-retweets-loading" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-1"></div>
            <div class="col" id="top-retweet-2"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-3"></div>
            <div class="col" id="top-retweet-4"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-5"></div>
            <div class="col" id="top-retweet-6"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-7"></div>
            <div class="col" id="top-retweet-8"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-9"></div>
            <div class="col" id="top-retweet-10"></div>
          </div>

          <div class="row">
            <div class="col" id="top-retweet-11"></div>
            <div class="col" id="top-retweet-12"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-13"></div>
            <div class="col" id="top-retweet-14"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-15"></div>
            <div class="col" id="top-retweet-16"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-17"></div>
            <div class="col" id="top-retweet-18"></div>
          </div>
          <div class="row">
            <div class="col" id="top-retweet-19"></div>
            <div class="col" id="top-retweet-20"></div>
          </div>
        </div>


        <div class="tab-pane fade" id="pills-yang" role="tabpanel" aria-labelledby="pills-yang-tab">
          <p style="text-align: center;">
            Trendline is <span style="color: green;">green</span> for positive and
            <span style="color: red;">red</span> for negative, and <span style="color: grey;">grey</span> for no significant change.
            All time in US Eastern timezone
          </p>

          <div class="row-4" id="yang-minute-chart">
            <div class="spinner-grow text-primary" id="yang-minute-loading" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <canvas id="yang-minute-count-line" height="250"></canvas>
          </div>

          <div class="row-4" id="yang-day-chart">
            <div class="spinner-grow text-primary" id="yang-day-loading" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <canvas id="yang-day-count-line" height="250"></canvas>
          </div>

          <div class="row-4" id="yang-loc-chart">
            <div class="spinner-grow text-primary" id="yang-loc-loading" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <canvas id="yang-loc-count-bar" height="250"></canvas>
          </div>
          <small style="text-align: right">
            Warning: only 1~3% of all users here have location data and can be mapped to US states.
            The majority of the users either do not have location data, have user-defined unusable data, or are outside
            the US. Therefore, this chart shows a small subset of the tweets and may not be representative of the true distribution.
          </small>

        </div>

        <div class="tab-pane fade" id="pills-sentiment" role="tabpanel" aria-labelledby="pills-sentiment-tab">
          <p style="text-align: center;">
            Coming soon, stay tuned!
          </p>
          <div class="row-4">
            <canvas id="sentiment-minute-count-line" height="250"></canvas>
          </div>
          <div class="row-4">
            <canvas id="sentiment-day-count-line" height="250"></canvas>
          </div>

          <!-- <div class="row">
            <div class="col">
              <canvas id="loc-count-hist" height="250"></canvas>
            </div>
            <div class="col">
              <canvas id="loc1-count-hist" height="250"></canvas>
            </div>
          </div> -->
        </div>
      </div>

    </div>
    <canvas id="canvas"></canvas>
    <footer style="text-align: right">
      <p>Made by <a href="https://twitter.com/logancyang" target="_blank">@logancyang</a></p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="5UJ94BEHRGWPE" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="hidden" name="amount" value="5" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </footer>

  </div>
</body>

</html>
